---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/BannerHome.astro'
import PlanosRes from '../components/Planos.astro'
import Auto from '../components/Auto.astro'
import Planos from "../components/Planos-novos.astro"
---

<Layout title="Internet fibra óptica">
	<!-- BANNER DE SITE  -->
	<Banner 
	href='./videos/Home.mp4'
	/>
	<!-- FIM BANNER DE SITE  -->

    <div class="mt-16 flex flex-col justify-center items-center">
        <h1 class="text-4xl text-white text-center max-lg:text-xl">PLANOS RESIDENCIAIS</h1>
        <img class="mt-3" src="./images/Line.png" alt="Linha">
    </div>

    <div class="flex flex-wrap max-lg:justify-center justify-between md:px-[7%] max-lg:px-10">
        <Planos 
        mega="500"
        nome='PLANO HOME'
        wifi='Wi-fi-6'
        valor="99,90"
        quant="MB"
        roteador='1 Roteador'
        />
        <Planos 
            mega="500"
            wifi='Wi-fi-6 MESH'
            nome='PLANO HOME PLUS'
            valor="119,90"
            quant="MB"
            roteador='2 Roteadores '
        />
        <Planos 
            mega="1000"
            nome='PLANO HOME PREMIUM'
            wifi='Wi-fi-6'
            valor="129,90"
            quant="MB"
            roteador='1 Roteador'
        />
        <Planos 
            mega="1000"
            nome='PLANO HOME MASTER'
            wifi='Wi-fi-6 MESH'
            valor="149,90"
            quant="MB"
            roteador='2 Roteadores'
        />
    </div>


	<!-- BANNER DE SITE -->
	<img class="mt-20" src="./../../images/Banner1.png" alt="">		
	<!-- FIM BANNER DE SITE -->
	<!-- Banner -->
	<img class="mt-20" src="./../..  /images/Banner2.png" alt="">
	<!-- FIM Banner -->	
	<Auto />
</Layout>

