<div class="px-[6%] mt-24">
    <div class="flex items-center justify-center flex-col">
        <h2 class="text-white text-3xl mb-4">AUTOATENDIMENTO</h2>
        <img src="./../../public/images/Line.png" alt="">
    </div>
    <div class="mt-8 flex gap-10 justify-around">
        <div class="transition-all border-2 bg-gradient-to-br from-light-blue/20 to-transparent border-light-blue/10 rounded-md w-72 h-60 flex flex-col items-center justify-around hover:-translate-y-1">
            <img src="./../../public/images/icons/Coupon.svg" alt="">
            <h3 class="text-white text-xl">2째 Via do boleto</h3>
        </div>
        <div class="transition-all border-2 bg-gradient-to-br from-light-blue/20 to-transparent border-light-blue/10 rounded-md w-72 h-60 flex flex-col items-center justify-around hover:-translate-y-1">
            <img src="./../../public/images/icons/Coupon.svg" alt="">
            <h3 class="text-white text-xl">2째 Via do boleto</h3>
        </div>
        <div class="transition-all border-2 bg-gradient-to-br from-light-blue/20 to-transparent border-light-blue/10 rounded-md w-72 h-60 flex flex-col items-center justify-around hover:-translate-y-1">
            <img src="./../../public/images/icons/Coupon.svg" alt="">
            <h3 class="text-white text-xl">2째 Via do boleto</h3>
        </div>
        <div class="transition-all border-2 bg-gradient-to-br from-light-blue/20 to-transparent border-light-blue/10 rounded-md w-72 h-60 flex flex-col items-center justify-around hover:-translate-y-1">
            <img src="./../../public/images/icons/Coupon.svg" alt="">
            <h3 class="text-white text-xl">2째 Via do boleto</h3>
        </div>
    </div>
</div>