---

import Box from "./Model-auto.astro"

---


<div class="px-[6%] mt-24">
    <div class="flex items-center justify-center flex-col">
        <h2 class="text-white text-3xl mb-4 max-lg:text-xl">AUTOATENDIMENTO</h2>
        <img src="./images/Line.png" alt="">
    </div>
    <div class="mt-8 flex gap-10 justify-around max-lg:flex-col max-lg:justify-center max-lg:items-center">
        <Box 
            icon="./images/icons/Coupon.svg"
            tittle="2° Via do boleto"
            href="https://wsconnect.com.br/client "
        />
        <Box 
            icon="./images/icons/Whatsapp.svg"
            tittle="Suporte Online"
            href="https://api.whatsapp.com/send/?phone=555496651794&text=Ol%C3%A1%21+Vim+do+site&type=phone_number&app_absent=0"
        />
        <Box 
            icon="./images/icons/Light.svg"
            tittle="Teste de velocidade"
            href="https://www.speedtest.net/"
        />
        <Box 
            icon="./images/icons/Maps.svg"
            tittle="Endereço"
            href="https://maps.app.goo.gl/aUKwgnScxYqacm4P7"
        />
    </div>
</div>