<div class="bg-gradient-to-r from-dark-blue to-light-blue flex px-[10%] py-[2%] justify-between mt-24">
    <h2 class="text-white text-3xl">GOSTOU? ASSINE AGORA!</h2>
    <button class="btn-assine">ASSINE JÁ!</button>
</div>