<div class="bg-gradient-to-r from-dark-blue to-light-blue flex px-[10%] py-[2%] justify-between mt-24 max-lg:hidden">
    <h2 class="text-white text-2xl">GOSTOU? ENTRE EM CONTATO AGORA!</h2>
    <a href="https://wa.me/555496651794?text=Ol%C3%A1!%20Vim%20do%20site" target="_blank" rel="noopener noreferrer"><button class="btn-assine">ASSINE JÁ!</button></a>
</div>