<div class="px-[6%] mt-24 flex flex-col justify-center items-center">
    <div class="flex flex-row justify-between">
        <div class="flex items-start justify-center flex-col">
            <h2 class="text-5xl text-white mb-6">
                Sua empresa, <br>nossa <span class="text-green">conexão</span>
            </h2>
            <h3 class="text-white w-[80%]">
                Maximize a produtividade da sua equipe com nossa internet empresarial. Circuito exclusivo, maior número de conexões simultâneas e velocidades adaptadas às necessidades da sua empresa. Fale conosco agora!
            </h3>
            <button class="btn-assine mt-8">ASSINE JÁ</button>
        </div>
        <div>
            <div class="flex flex-row gap-6 mb-8">
                <div><img class="h-24" src="./../../public/images/icons/Clock.svg" alt=""></div>
                <div>
                    <h3 class="text-white text-xl">Monitoramento 24/7</h3>
                    <span class="text-white/70">O monitoramento 24/7 é essencial para empresas, garantindo vigilância constante e resposta rápida a problemas de infraestrutura, segurança e desempenho.</span>
                </div>
            </div>
            <div class="flex flex-row gap-6 mb-8">
                <div><img class="h-24" src="./../../public/images/icons/Clock.svg" alt=""></div>
                <div>
                    <h3 class="text-white text-xl">Monitoramento 24/7</h3>
                    <span class="text-white/70">O monitoramento 24/7 é essencial para empresas, garantindo vigilância constante e resposta rápida a problemas de infraestrutura, segurança e desempenho.</span>
                </div>
            </div>
            <div class="flex flex-row gap-6 mb-8">
                <div><img class="h-24" src="./../../public/images/icons/Clock.svg" alt=""></div>
                <div>
                    <h3 class="text-white text-xl">Monitoramento 24/7</h3>
                    <span class="text-white/70">O monitoramento 24/7 é essencial para empresas, garantindo vigilância constante e resposta rápida a problemas de infraestrutura, segurança e desempenho.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[1200px] h-[200px] coluna-planos flex-col flex py-10 px-12 justify-between mt-12">
        <div class="flex justify-center flex-col">
            <h2 class="text-white text-2xl text-center">Consulte área de cobertura no seu endereço:</h2>
            <img class="h-[1px] mt-4" src="./../../public/images/Line.png" alt="">
        </div>
        <div class="flex justify-center items-center">
            <form id="forms" action="">
                <input type="text" placeholder="Endereço" name="" id="">
                <input type="number" placeholder="CEP" name="" id="">
                <input type="tel" placeholder="Telefone" name="" id="">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>