---
interface Props {
	mega: string;
    valor: string;
    quant: string;
}

const { mega, valor, quant } = Astro.props;
---


<div class="flex items-center justify-center mt-14">
    <div class="w-[1200px] h-[200px] md:bg-Planos flex-row flex px-12 justify-between max-lg:w-[80%] max-lg:flex-col max-lg:h-[100%]  max-lg:bg-light-blue/20  max-lg:rounded-2xl max-lg:py-12">
        <div class="items-center flex justify-center">
            <h2 class="text-5xl text-green text-bold">
                {mega}<span class="text-white">{quant}</span>
            </h2>
        </div>
        <div class="flex flex-row items-center gap-1 max-lg:flex-col max-lg:my-10">
            <div>
                <div class="flex flex-row items-center justify-start">
                    <img src="./images/icons/Wifi.svg" alt="Icones WIfi">
                    <span class="text-white text-lg">Wi-fi Premium</span>
                </div>
                <div class="flex flex-row items-center justify-start">
                    <img src="./images/icons/Instalacao.svg" alt="Icones WIfi">
                    <span class="text-white text-lg">Instalação Gratuita</span>
                </div>
            </div>
            <div>
                <div class="flex flex-row items-center justify-start">
                    <img src="./images/icons/Atendimento.svg" alt="Icones WIfi">
                    <span class="text-white text-lg">Suporte Local</span>
                </div>
                <div class="flex flex-row items-center justify-start">
                    <img src="./images/icons/Trafego.svg" alt="Icones WIfi">
                    <span class="text-white text-lg">Tráfego Ilimitado</span>
                </div>
            </div>
        </div>
        <div class="items-center flex flex-col justify-center gap-5">
            <h2 class="text-5xl text-white"><span class="text-xs text-light-blue">R$</span> {valor}</h2>
            <a href="https://wa.me/555496651794?text=Ol%C3%A1!%20Vim%20do%20site" target="_blank"><button class="btn-assine">ASSINE JÁ</button></a>
        </div>
    </div>
</div>