---
import ReviewTab from "./Model-Review.astro"
---

<div class="mt-24 px-[6%] flex flex-col gap-8">
    <div class="flex flex-col items-center justify-center">
        <h2 class="text-white text-3xl mb-4 max-lg:text-xl">O QUE DIZEM NOSSOS CLIENTES?</h2>
        <img src="./../../public/images/Line.png" alt="">
    </div>
    <div class="flex flex-row justify-around max-lg:flex-col max-lg:gap-6">
    <ReviewTab 
        image="./../../public/images/User1.png"
        userName="Cristiano Baldo"
        review="Excelente e acessível atendimento, preços justos e suporte efetivo."
    />
    <ReviewTab 
        image="./../../public/images/User2.png"
        userName="Vinicius Wiedhauper"
        review="Empresa muitos boa, recomendo"
    />
    <ReviewTab 
        image="./../../public/images/User3.png"
        userName="Compuservice Contabilidade"
        review="Serviço de qualidade, recomendamos."
    />
    </div>
</div>